*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relogio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.relogio .hora{
    font-size: 100px;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}